@model RoleViewModel

<div class="form-group">
    <label class="col-form-label" asp-for="RoleName"></label>
    <input asp-for="RoleName" class="form-control" readonly />
</div>


<div class="form-group">
    <label class="col-form-label" asp-for="Id"></label>
    <input asp-for="Id" class="form-control" readonly />
</div>