@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Role</h1>

<form asp-action="Create">

    <partial name="PartialViews/CreateEditPartialView">

        <input type="submit" value="Save" class="btn btn-success" />

        <a asp-action="Index" class="btn btn-secondary">Go Back</a>
</form>

