@model UserViewModel

<div class="form-group">
    <label class="col-form-label" asp-for="Id"></label>
    <input asp-for="Id" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="FName"></label>
    <input asp-for="FName" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="LName"></label>
    <input asp-for="LName" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" class="form-control" readonly />
</div>


<div class="form-group">
    <label class="col-form-label" asp-for="UserRoles"></label>
    <input asp-for="UserRoles" class="form-control" readonly />
</div>