@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_RegisterationLayout.cshtml";
}

<h1>Check Your Inbox</h1>


<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <h2>Email was sent, Check your Inbox</h2>
        </div>
        <div>
            <a href="https://mail.google.com/mail/?tab=rm&ogbl">Your Inbox</a>
        </div>
    </div>
</div>