@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_RegisterationLayout.cshtml";
}

<h1>Reset Password</h1>


<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="All"></div>

        <form asp-action="ResetPassword">
            
            <input asp-for="NewPassword" placeholder="Password" required="">
            <input asp-for="ConfirmedNewPassword" placeholder="Confirm Password" required="">

            <input type="submit" value="Reset">
        </form>
    </div>

    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
@section ValidationScriptSection
    {
    <partial name="_ValidationScriptsPartial" />

}